{% extends "adsapp/base.html" %}
{% load staticfiles %}
{% block contents %}

<div class="page-title gradient-overlay op6">
    <div class="container">
        <div class="inner">
            <h1>About us</h1>
            <ol class="breadcrumb">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>About us</li>
            </ol>
        </div>
    </div>
</div>

<section>
        <div class="container">
            <div class="entry">
                <div class="row">
                    <div class="col-md-8">
                        <div class="section-title">
                            <h4><span class="left-deco"></span>Amihan Del Sol<span class="right-deco"></span></h4>
                            <p class="section-subtitle">The Wind, The Sun and The Sea</p>
                        </div>
                        <div class="info-branding">
                            <p>‘Amihan’ is the Filipino term for the Northeastern Monsoon, the winds that blow during the cool months. ‘Del Sol’ is the Spanish vernacular for: “of the sun.” Refreshing winds greet you as soon as you enter the vicinity. Our modern architecture is a showcase of light and air, with high ceilings, glass windows and sunlit rooms. The real treat, of course, comes when you step out onto the balcony and behold the majestic view of the emerald mountainside and the sparkling sapphire sea.</p>
                            <p>Upon check-in, guests are treated to refreshing welcome drinks before being led to their rooms. Edison bulbs, refurbished wood, and handmade steampunk furnishings run throughout the property.</p>
                            <p>The warm hospitality that Filipinos are known for, guests are sure to enjoy their stay. Whether it be a romantic getaway, a solitary retreat, or an action-packed adventure, there’s something for everyone at Amihan del Sol. With over 7,000 islands, the Philippines has unsurprisingly become a tourist favorite - especially with Puerto Galera as one of the country’s leading destinations. Amihan Del Sol offers guests an exquisite jump off point to explore this Filipino province brimming with white sand beaches, excellent snorkelling and diving spots, unexplored mountain ranges, and more. 
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="brand-info">
                            <div class="inner">
                                <div class="content">
                                    <img style="padding-top: 20px;" src="{% static "/public/images/logo.png" %}" width="150" alt="Amihan">
                                    <div class="stars">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <h5 class="title">LUXURY HOTEL</h5>
                                    <p class="mt20">Overlooking Aninuan Beach and the Oriental Mindoro is Amihan del Sol, the perfect getaway for travelers looking to enjoy the best of Puerto Galera. The newly-renovated hilltop property spans over 4000 square meters, has 13 tastefully-designed rooms, two pools, and offers guests breathtaking views of the island’s lush greenery, turquoise waters, and blue skies. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
    </section>
    <section class="staff box-shadow-inside-001">
            <div class="container">
                <div class="section-title">
                    <h4><span class="left-deco"></span>Meet The Staff<span class="right-deco"></span></h4>
                    <p class="section-subtitle">Our awesome staff make the difference</p>
                </div>
                <div class="staff-owl owl-carousel">

                    <div class="staff-item">
                        <figure>
                            <img src="{% static "/public/images/staff/staff1.jpg" %}" class="img-fluid" alt="Image">
                            <div class="position">Housekeeper</div>
                        </figure>
                        <div class="details">
                            <h5>Jeanette Owens</h5>
                            <p>Lorem Ipsum which looks many web sites pass websites is therefore always.</p>
                        </div>
                    </div>

                    <div class="staff-item">
                        <figure>
                            <img src="{% static "/public/images/staff/staff2.jpg" %}" class="img-fluid" alt="Image">
                            <div class="position">Receptionist</div>
                        </figure>
                        <div class="details">
                            <h5>Henry Garrett</h5>
                            <p>Lorem Ipsum which looks many web sites pass websites is therefore always.</p>
                        </div>
                    </div>

                    <div class="staff-item">
                        <figure>
                            <img src="{% static "/public/images/staff/staff3.jpg" %}" class="img-fluid" alt="Image">
                            <div class="position">Chef</div>
                        </figure>
                        <div class="details">
                            <h5>Tommy Alexander</h5>
                            <p>Lorem Ipsum which looks many web sites pass websites is therefore always.</p>
                        </div>
                    </div>

                    <div class="staff-item">
                        <figure>
                            <img src="{% static "/public/images/staff/staff4.jpg" %}" class="img-fluid" alt="Image">
                            <div class="position">Hotel Manager</div>
                        </figure>
                        <div class="details">
                            <h5>Penny Soto</h5>
                            <p>Lorem Ipsum which looks many web sites pass websites is therefore always.</p>
                        </div>
                    </div>

                    <div class="staff-item">
                        <figure>
                            <img src="{% static "/public/images/staff/staff5.jpg" %}" class="img-fluid" alt="Image">
                            <div class="position">Room Service</div>
                        </figure>
                        <div class="details">
                            <h5>Alex Cox</h5>
                            <p>Lorem Ipsum which looks many web sites pass websites is therefore always.</p>
                        </div>
                    </div>

                    <div class="staff-item">
                        <figure>
                            <img src="{% static "/public/images/staff/staff6.jpg" %}" class="img-fluid" alt="Image">
                            <div class="position">Hotel Manager</div>
                        </figure>
                        <div class="details">
                            <h5>Alfredo Romero</h5>
                            <p>Lorem Ipsum which looks many web sites pass websites is therefore always.</p>
                        </div>
                    </div>

                    <div class="staff-item">
                        <figure>
                            <img src="{% static "/public/images/staff/staff7.jpg" %}" class="img-fluid" alt="Image">
                            <div class="position">Marketing Advisor</div>
                        </figure>
                        <div class="details">
                            <h5>Glenda Gilbert</h5>
                            <p>Lorem Ipsum which looks many web sites pass websites is therefore always.</p>
                        </div>
                    </div>

                    <div class="staff-item">
                        <figure>
                            <img src="{% static "/public/images/staff/staff8.jpg" %}" class="img-fluid" alt="Image">
                            <div class="position">Hotel Manager</div>
                        </figure>
                        <div class="details">
                            <h5>Sheila Carter</h5>
                            <p>Lorem Ipsum which looks many web sites pass websites is therefore always.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="instgram">
                <div class="section-title">
                    <h4><span class="left-deco"></span>Comport. Privacy. Premium Service.<span class="right-deco"></span></h4>
                    <p class="section-subtitle"><p class="section-subtitle">Check out some pictures from our instagram page
                            <a href="https://www.instagram.com/amihandelsol/" target="_blank">@Amihan Del Sol</a>
                        </p></p>
                </div>
                <div id="instafeed-gallery" class="owl-carousel instagram-owl"></div>
            </section>

{% endblock %}