{% extends "adsapp/base.html" %}
{% load staticfiles %}
{% block contents %}

        <div class="page-title gradient-overlay op6">
            <div class="container">
                <div class="inner">
                    <h1>ADDITIONAL SERVICES</h1>
                    <ol class="breadcrumb">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>Additional Services</li>
                    </ol>
                </div>
            </div>
        </div>

        <main class="contact-page">
            <div class="container">
                <div class="section-title">
                    <h4><span class="left-deco"></span>Tons of Activities<span class="right-deco"></span></h4>
                    <p class="section-subtitle">FROM SPORTS TO SIGHTSEEING, WE HAVE IT ALL</p>
                </div>
                <p class="aligncenter">Home to several white sand beaches, waterfalls, hiking trails, and a wide variety of outdoor activities, there is so much to see and do in Puerto Galera! If you have a specific activity in mind or need help with your itinerary, the staff at Amihan Del Sol are more than willing to help you plan for the kind of vacation that you want. 
                </p>
            </div>
        </main>


        <section class="np">
            <div class="container">
                <div class="entry">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="section-title section-title-2 alignleft">
                                <h4>Island Hopping Destinations</h4>
                            </div>
                            <div class="info-branding">
                                <p>There is no shortage of breathtaking beaches in Puerto Galera - with its fine sand, crystal blue waters, and marine life, it comes as no surprise that island hopping and snorkelling are a couple of the must-do’s when in the area. Whether you opt to book a tour or hire a boat and go exploring on your own, you will not be disappointed with these natural gems. A motorized bangka can bring you to nearby Bayanan Beach, Haligi Beach, Sandbar, and Maniknik Beach. The smaller bangkas can bring you to Giant Clam, the Underwater Cave, and to Coral Garden.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                           <img class="img-fluid img-border" src="{% static "/public/images/islandHoping.jpg" %}" alt="">
                        </div>
                    </div>
                
                </div>
            </div>
        </section>

        <section>
            <div class="container">
                <div class="entry">
                    <div class="row">
                        <div class="col-md-6">
                            <img class="img-fluid img-border" src="{% static "/public/images/islandTour.jpg" %}" alt="">
                         </div>
                        <div class="col-md-6">
                            <div class="section-title section-title-2 alignleft">
                                <h4>Inland Tour Destinations</h4>
                            </div>
                            <div class="info-branding">
                                <p>If you’d like to veer away from the beach and stay inland, then there are several things for you to do, as well! Hike up to and enjoy either the majestic Tamaraw Falls, Talipanan Falls, or Tukuran Falls. Getting to these may be a bit tricky as they may require a jeepney and tricycle ride, before setting off onto their trails (so make sure you ask for directions from Amihan Del Sol’s friendly staff). 
                                </p>
                                <p>You can also opt to visit Mangayan Village, home to the Irayas, which is an indigenous tribe characterized by their dark complexion and dark, curly hair. Believed to have traded with Chinese merchants as early as 1250 AD, the Irayas are proud to have been able to maintain their traditional practices and weave handicrafts which can be bought in several stores across the country. 
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="box-shadow-inside-001">
            <div class="container">
                <div class="entry">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-title section-title-2">
                                <h4>Water Sports</h4>
                            </div>
                            <div class="info-branding ">
                                <p class="aligncenter">Amihan Del Sol can also arrange a number of water activities for the adrenalin junkies. Best enjoyed in groups. 
                                </p>
                            </div>
                            <div class="gallery-owl owl-carousel image-gallery">

                                <div class="gallery-item">
                                    <figure class="gradient-overlay image-icon">
                                        <a href="{% static "/public/images/services/big/Sailing.jpg" %}">
                                            <img src="{% static "/public/images/services/thumb/Sailing.jpg" %}" alt="Image">
                                        </a>
                                        <figcaption>Sailing</figcaption>
                                    </figure>
                                </div>
            
                                <div class="gallery-item">
                                    <figure class="gradient-overlay image-icon">
                                        <a href="{% static "/public/images/services/big/Parasailing.jpg" %}">
                                            <img src="{% static "/public/images/services/thumb/Parasailing.jpg" %}" alt="Image">
                                        </a>
                                        <figcaption>Parasailing</figcaption>
                                    </figure>
                                </div>
            
                                <div class="gallery-item">
                                    <figure class="gradient-overlay image-icon">
                                        <a href="{% static "/public/images/services/big/Jetski.jpg" %}">
                                            <img src="{% static "/public/images/services/thumb/Jetski.jpg" %}" alt="Image">
                                        </a>
                                        <figcaption>Jetski</figcaption>
                                    </figure>
                                </div>
            
                                <div class="gallery-item">
                                    <figure class="gradient-overlay image-icon">
                                        <a href="{% static "/public/images/services/big/Flying-fish.jpg" %}">
                                            <img src="{% static "/public/images/services/thumb/Flying-fish.jpg" %}" alt="Image">
                                        </a>
                                        <figcaption>Flying Fish</figcaption>
                                    </figure>
                                </div>
            
                                <div class="gallery-item">
                                    <figure class="gradient-overlay image-icon">
                                        <a href="{% static "/public/images/services/big/dragon-boat.jpg" %}">
                                            <img src="{% static "/public/images/services/thumb/Dragon-Boat.jpg" %}" alt="Image">
                                        </a>
                                        <figcaption>Dragon Boat</figcaption>
                                    </figure>
                                </div>
            
                                <div class="gallery-item">
                                    <figure class="gradient-overlay image-icon">
                                        <a href="{% static "/public/images/services/big/Disco-UFO.jpg" %}">
                                            <img src="{% static "/public/images/services/thumb/Disco-UFO.jpg" %}" alt="Image">
                                        </a>
                                        <figcaption>Disco UFO</figcaption>
                                    </figure>
                                </div>
            
                                <div class="gallery-item">
                                    <figure class="gradient-overlay image-icon">
                                        <a href="{% static "/public/images/services/big/crazy-ufo.jpg" %}">
                                            <img src="{% static "/public/images/services/thumb/crazy-ufo.jpg" %}" alt="Image">
                                        </a>
                                        <figcaption>Crazy UFO</figcaption>
                                    </figure>
                                </div>
            
                                <div class="gallery-item">
                                    <figure class="gradient-overlay image-icon">
                                        <a href="{% static "/public/images/services/big/Banana-boat.jpg" %}">
                                            <img src="{% static "/public/images/services/thumb/Banana-boat.jpg" %}" alt="Image">
                                        </a>
                                        <figcaption>Banana Boat</figcaption>
                                    </figure>
                                </div>

                            </div>
                        </div>
                    </div>
                
                </div>
            </div>
        </section>

        <section >
            <div class="container">    
                <div class="section-title section-title-2">
                    <h4>Other Activities</h4>
                </div>
                <div class="actv-categories-section__inner">
                    <ul class="actv-categories">
                        <li class="actv-category">
                            <div>
                                <div class="media-icon"> <i class="flaticon-sunset"></i></div>
                                <div class="media-caption">
                                    <h4 class="category-titile">Sunset Cruise</h4>
                                </div>
                            </div>
                        </li>
                        <li class="actv-category">
                            <div>
                                <div class="media-icon"> <i class="flaticon-boat"></i></div>
                                <div class="media-caption">
                                    <h4 class="category-titile">Sailing</h4>
                                </div>
                            </div>
                        </li>
                        <li class="actv-category">
                            <div>
                                <div class="media-icon"> <i class="flaticon-diving"></i></div>
                                <div class="media-caption">
                                    <h4 class="category-titile">Diving</h4>
                                </div>
                            </div>
                        </li>
                        <li class="actv-category">
                            <div>
                                <div class="media-icon"> <i class="flaticon-bbq"></i></div>
                                <div class="media-caption">
                                    <h4 class="category-titile">Barbeque Picnics</h4>
                                </div>
                            </div>
                        </li>
                        <li class="actv-category">
                            <div>
                                <div class="media-icon"> <i class="flaticon-target"></i></div>
                                <div class="media-caption">
                                    <h4 class="category-titile">Archery Target Shooting</h4>
                                </div>
                            </div>
                        </li>
                        
                        <li class="actv-category">
                            <div>
                                <div class="media-icon"> <i class="flaticon-paintball"></i></div>
                                <div class="media-caption">
                                    <h4 class="category-titile">Paintball</h4>
                                </div>
                            </div>
                        </li>
                        <li class="actv-category">
                            <div>
                                <div class="media-icon"> <i class="flaticon-atv"></i></div>
                                <div class="media-caption">
                                    <h4 class="category-titile">ATV’s</h4>
                                </div>
                            </div>
                        </li>
                        <li class="actv-category">
                            <div>
                                <div class="media-icon"> <i class="flaticon-golf-cart"></i></div>
                                <div class="media-caption">
                                    <h4 class="category-titile">Mud Carts</h4>
                                </div>
                            </div>
                        </li>
                        <li class="actv-category">
                            <div>
                                <div class="media-icon"> <i class="flaticon-karting"></i></div>
                                <div class="media-caption">
                                    <h4 class="category-titile">Go Cart Racing</h4>
                                </div>
                            </div>
                        </li>
                        <li class="actv-category">
                            <div>
                                <div class="media-icon"> <i class="flaticon-crossbow"></i></div>
                                <div class="media-caption">
                                    <h4 class="category-titile">Cross Bow</h4>
                                </div>
                            </div>
                        </li>

                        <li class="actv-category">
                            <div>
                                <div class="media-icon"> <i class="flaticon-gun"></i></div>
                                <div class="media-caption">
                                    <h4 class="category-titile">Air gun</h4>
                                </div>
                            </div>
                        </li>
                        <li class="actv-category">
                            <div>
                                <div class="media-icon"> <i class="flaticon-union"></i></div>
                                <div class="media-caption">
                                    <h4 class="category-titile">Bubble Bump</h4>
                                </div>
                            </div>
                        </li>
                        <li class="actv-category">
                            <div>
                                <div class="media-icon"> <i class="flaticon-plastic-cup"></i></div>
                                <div class="media-caption">
                                    <h4 class="category-titile">Nerf Games</h4>
                                </div>
                            </div>
                        </li>
                        <li class="actv-category">
                            <div>
                                <div class="media-icon"> <i class="flaticon-target-1"></i></div>
                                <div class="media-caption">
                                    <h4 class="category-titile">Outdoor Firing Range</h4>
                                </div>
                            </div>
                        </li>
                        <li class="actv-category">
                            <div>
                                <div class="media-icon"> <i class="flaticon-hiking"></i></div>
                                <div class="media-caption">
                                    <h4 class="category-titile">Hiking/Trekking</h4>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

{% endblock %}