{% extends "adsapp/base.html" %}
{% load staticfiles %}
{% block contents %}

<div class="page-title gradient-overlay op6">
    <div class="container">
        <div class="inner">
            <h1>About us</h1>
            <ol class="breadcrumb">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>About us</li>
            </ol>
        </div>
    </div>
</div>

<section class="">
    <div class="container">
        <div class="section-title">
            <h4><span class="left-deco"></span>Amihan Gallery<span class="right-deco"></span></h4>
            <p class="section-subtitle">Lorem ipsum dolor sit amet</p>
        </div>
        <!-- <div class="row">
            <div class="col-lg-7 col-12">
                <div data-slider-id="services" class="services-owl owl-carousel">
                    <figure class="gradient-overlay">
                        <img src="{% static "/public/images/services/restaurant.jpg" %}" class="img-fluid" alt="Image">
                        <figcaption>
                            <h4>Restaurant</h4>
                        </figcaption>
                    </figure>
                    <figure class="gradient-overlay">
                        <img src="{% static "/public/images/services/spa.jpg" %}" class="img-fluid" alt="Image">
                        <figcaption>
                            <h4>Spa</h4>
                        </figcaption>
                    </figure>
                    <figure class="gradient-overlay">
                        <img src="{% static "/public/images/services/conference.jpg" %}" class="img-fluid" alt="Image">
                        <figcaption>
                            <h4>Fabolous View</h4>
                        </figcaption>
                    </figure>
                    <figure class="gradient-overlay">
                        <img src="{% static "/public/images/services/swimming.jpg" %}" class="img-fluid" alt="Image">
                        <figcaption>
                            <h4>Swimming Pool</h4>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-lg-5 col-12">
                <div class="owl-thumbs" data-slider-id="services">
                    <div class="owl-thumb-item">
                        <span class="media-left">
                            <i class="flaticon-tray-1"></i>
                        </span>
                        <div class="media-body">
                            <h5>Restaurant</h5>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                                euismod tincidunt ut laoreet.</p>
                        </div>
                    </div>
                    <div class="owl-thumb-item">
                        <span class="media-left">
                            <i class="flaticon-nature"></i>
                        </span>
                        <div class="media-body">
                            <h5>Spa - Beauty &amp; Health</h5>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                                euismod tincidunt ut laoreet.</p>
                        </div>
                    </div>
                    <div class="owl-thumb-item">
                        <span class="media-left">
                            <i class="flaticon-screen-1"></i>
                        </span>
                        <div class="media-body">
                            <h5>Fabolous View</h5>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                                euismod tincidunt ut laoreet.</p>
                        </div>
                    </div>
                    <div class="owl-thumb-item">
                        <span class="media-left">
                            <i class="flaticon-sports"></i>
                        </span>
                        <div class="media-body">
                            <h5>Swimming Pool</h5>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                                euismod tincidunt ut laoreet.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</section>

{% endblock %}