{% extends "adsapp/base.html" %}
{% load staticfiles %}
{% block contents %}

        <div class="page-title gradient-overlay op6">
            <div class="container">
                <div class="inner">
                    <h1>HOW TO GET THERE</h1>
                    <ol class="breadcrumb">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>How to get There</li>
                    </ol>
                </div>
            </div>
        </div>

        <main class="contact-page np-bot">
            <div class="container">
                <div class="section-title">
                    <h4><span class="left-deco"></span>Our Location<span class="right-deco"></span></h4>
                    <p class="section-subtitle"><strong>spot : </strong>Aniunan Puerto Galera, Oriental Mindoro</p>
                </div>
            </div>
        </main>


        <section class="np">
            <div class="container">
                <div class="entry">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="info-branding">
                                <p style="color: #131313"><strong>Via Commute</strong></p>
                                <p>
                                    <ol>
                                        <li>Go to any of the following bus terminals in Metro Manila:
                                            <ul>
                                                <li>Bus Terminals near the corner of Taft Avenue and Gil Puyat Avenue (formerly Buendia), Pasay City - nearest to the Airport. </li>
                                                <li>Bus Terminal near Ali Mall, Araneta Center, Cubao, Quezon City.</li>
                                                <li>Bus Terminal in EDSA corner Kamias Street, Quezon City.</li>
                                                <li>Bus Terminal in Alabang, Muntinlupa City.</li>
                                            </ul>
                                        </li>
                                        <li>Ride the air-conditioned bus going straight to Batangas pier via Calabarzon Expressway. Travel time to the Batangas pier will take around 2 hours. The fare is around 200 pesos.</li>
                                        <li>From the Pier, you just have to buy a ticket and choose between two options:
                                            <ul>
                                                <li>RORO is 250 to 280 pesos and the driver is free. This boat lands at Balatero Pier and the travel time is 2 hours.</li>
                                                <li>FAST CRAFT is 300 to 350 pesos. This is much faster and will only take you 45 minutes to 1.5 hours depending on the boat. This boat can land at either Muelle Pier or Balatero Pier. </li>
                                            </ul>
                                        </li>
                                        <li>Once you get there you will also need to pay the environmental fee of 50 pesos per person, and terminal fee of 30 pesos per person. </li>
                                    </ol>
                                 </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info-branding">
                                <p style="color: #131313"><strong>Via Car</strong></p>
                                <p>
                                    <ol>
                                        <li>Take the car to the Batangas Pier and park at the parking building nearby.</li>
                                        <li>From the Batangas Pier, buy your tickets to White Beach in Puerto Galera for 500 pesos. Travel time is 1 to 1.5 hours long. </li>
                                    </ol>
                                 </p>
                            </div>
                        </div>
                    </div>
                
                </div>
            </div>
        </section>

       

{% endblock %}