{% extends "adsapp/base.html" %}
{% load staticfiles %}
{% block contents %}

        <div class="page-title gradient-overlay op6">
            <div class="container">
                <div class="inner">
                    <h1>ROOMS</h1>
                    <ol class="breadcrumb">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>Rooms</li>
                    </ol>
                </div>
            </div>
        </div>

        <main class="rooms-list-view">
            <div class="container">

                {% if room_list %}
                {% for i in room_list %}

                <div class="room-list-item">
                    <div class="row">
                        <div class="col-lg-4">
                            <figure class="gradient-overlay-hover link-icon">
                                <a href="/room/"><img src="{{i.thumbnail}}" class="img-fluid"
                                        alt="Image"></a>
                            </figure>
                        </div>
                        <div class="col-lg-6">
                            <div class="room-info">
                                <h3 class="room-title">
                                        <a href="/room/{{ i.id }}/checkin={{ checkin }}&checkout={{ checkin }}"><h4>Room {{i.room}} : {{i.types}}</h4></a>
                                </h3>
                                <span class="room-rates">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <a href="/room/#room-reviews">5.00 Based on 3 Ratings</a>
                                </span>
                                <p>{{i.description}}</p>
                                <div class="room-services">
                                        {% for x in i.room_amenities_set.all %}
                                            <i class="{{x.amenities.icon}}" data-toggle="popover" data-placement="top"
                                            data-trigger="hover" data-content="{{x.amenities.description}}"
                                            data-original-title="{{x.amenities.types}}"></i>
                                        {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="room-price">
                                <span class="price">₱{{i.price}} / night</span>
                                <a href="/checkout/" class="btn btn-sm">BOOK NOW</a>
                            </div>
                        </div>
                    </div>
                </div>

                {% endfor %}

                {% else %}
                  <p>No Room Available</p>
                {% endif %}

<!-- 
                <div class="room-list-item">
                    <div class="favorite-item">
                        <i class="fa fa-star-o"></i>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <figure class="gradient-overlay-hover link-icon">
                                <a href="/room/"><img src="{% static "/public/images/rooms/double/double.jpg" %}" class="img-fluid"
                                        alt="Image"></a>
                            </figure>
                        </div>
                        <div class="col-lg-6">
                            <div class="room-info">
                                <h3 class="room-title">
                                    <a href="/room/">DOUBLE ROOM</a>
                                </h3>
                                <span class="room-rates">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <a href="/room/#room-reviews">5.00 Based on 3 Ratings</a>
                                </span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus animi quod
                                    adipisci quia? Laudantium quibusdam, mollitia nisi quasi perspiciatis omnis...</p>
                                <div class="room-services">
                                    <i class="fa fa-coffee" data-toggle="popover" data-placement="top"
                                        data-trigger="hover" data-content="Breakfast Included"
                                        data-original-title="Breakfast"></i>
                                    <i class="fa fa-wifi" data-toggle="popover" data-placement="top"
                                        data-trigger="hover" data-content="Free WiFi" data-original-title="WiFi"></i>
                                    <i class="fa fa-television" data-toggle="popover" data-placement="top"
                                        data-trigger="hover" data-content="Plasma TV with cable channels"
                                        data-original-title="TV"></i>
                                    <span>Beds: 2 King</span>
                                    <span>Max Guests: 4</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="room-price">
                                <span class="price">€129 / night</span>
                                <a href="/checkout/" class="btn btn-sm">BOOK NOW</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="room-list-item">
                    <div class="row">
                        <div class="col-lg-4">
                            <figure class="gradient-overlay-hover link-icon">
                                <a href="/room/"><img src="{% static "/public/images/rooms/deluxe/deluxe.jpg" %}" class="img-fluid"
                                        alt="Image"></a>
                            </figure>
                        </div>
                        <div class="col-lg-6">
                            <div class="room-info">
                                <h3 class="room-title">
                                    <a href="/room/">DELUXE ROOM</a>
                                </h3>
                                <span class="room-rates">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <a href="/room/#room-reviews">5.00 Based on 3 Ratings</a>
                                </span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus animi quod
                                    adipisci quia? Laudantium quibusdam, mollitia nisi quasi perspiciatis omnis...</p>
                                <div class="room-services">
                                    <i class="fa fa-coffee" data-toggle="popover" data-placement="top"
                                        data-trigger="hover" data-content="Breakfast Included"
                                        data-original-title="Breakfast"></i>
                                    <i class="fa fa-wifi" data-toggle="popover" data-placement="top"
                                        data-trigger="hover" data-content="Free WiFi" data-original-title="WiFi"></i>
                                    <i class="fa fa-television" data-toggle="popover" data-placement="top"
                                        data-trigger="hover" data-content="Plasma TV with cable channels"
                                        data-original-title="TV"></i>
                                    <span>Beds: 1 King</span>
                                    <span>Max Guests: 2</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="room-price">
                                <span class="price">€189 / night</span>
                                <a href="/checkout/" class="btn btn-sm">BOOK NOW</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="room-list-item">
                    <div class="row">
                        <div class="col-lg-4">
                            <figure class="gradient-overlay-hover link-icon">
                                <a href="/room/"><img src="{% static "/public/images/rooms/family/family.jpg" %}" class="img-fluid"
                                        alt="Image"></a>
                            </figure>
                        </div>
                        <div class="col-lg-6">
                            <div class="room-info">
                                <h3 class="room-title">
                                    <a href="/room/">FAMILY ROOM</a>
                                </h3>
                                <span class="room-rates">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <a href="/room/#room-reviews">5.00 Based on 3 Ratings</a>
                                </span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus animi quod
                                    adipisci quia? Laudantium quibusdam, mollitia nisi quasi perspiciatis omnis...</p>
                                <div class="room-services">
                                    <i class="fa fa-coffee" data-toggle="popover" data-placement="top"
                                        data-trigger="hover" data-content="Breakfast Included"
                                        data-original-title="Breakfast"></i>
                                    <i class="fa fa-wifi" data-toggle="popover" data-placement="top"
                                        data-trigger="hover" data-content="Free WiFi" data-original-title="WiFi"></i>
                                    <i class="fa fa-television" data-toggle="popover" data-placement="top"
                                        data-trigger="hover" data-content="Plasma TV with cable channels"
                                        data-original-title="TV"></i>
                                    <span>Beds: 2 King and 1 Sofabed</span>
                                    <span>Max Guests: 4</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="room-price">
                                <span class="price">€149 / night</span>
                                <a href="/checkout/" class="btn btn-sm">BOOK NOW</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="room-list-item">
                    <div class="row">
                        <div class="col-lg-4">
                            <figure class="gradient-overlay-hover link-icon">
                                <a href="/room/"><img src="{% static "/public/images/rooms/king/king.jpg" %}" class="img-fluid"
                                        alt="Image"></a>
                            </figure>
                        </div>
                        <div class="col-lg-6">
                            <div class="room-info">
                                <h3 class="room-title">
                                    <a href="/room/">KING ROOM</a>
                                </h3>
                                <span class="room-rates">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <a href="/room/#room-reviews">5.00 Based on 3 Ratings</a>
                                </span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus animi quod
                                    adipisci quia? Laudantium quibusdam, mollitia nisi quasi perspiciatis omnis...</p>
                                <div class="room-services">
                                    <i class="fa fa-coffee" data-toggle="popover" data-placement="top"
                                        data-trigger="hover" data-content="Breakfast Included"
                                        data-original-title="Breakfast"></i>
                                    <i class="fa fa-bath" data-toggle="popover" data-placement="top"
                                        data-trigger="hover" data-content="2 Bathrooms"
                                        data-original-title="Bathroom"></i>
                                    <i class="fa fa-wifi" data-toggle="popover" data-placement="top"
                                        data-trigger="hover" data-content="Free WiFi" data-original-title="WiFi"></i>
                                    <i class="fa fa-television" data-toggle="popover" data-placement="top"
                                        data-trigger="hover" data-content="Plasma TV with cable channels"
                                        data-original-title="TV"></i>
                                    <span>Beds: 1 King</span>
                                    <span>Max Guests: 2</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="room-price">
                                <span class="price">€289 / night</span>
                                <a href="/checkout/" class="btn btn-sm">BOOK NOW</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="room-list-item">
                    <div class="favorite-item">
                        <i class="fa fa-star-o"></i>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <figure class="gradient-overlay-hover link-icon">
                                <a href="/room/"><img src="{% static "/public/images/rooms/honeymoon/honeymoon.jpg" %}" class="img-fluid"
                                        alt="Image"></a>
                            </figure>
                        </div>
                        <div class="col-lg-6">
                            <div class="room-info">
                                <h3 class="room-title">
                                    <a href="/room/">HONEYMOON ROOM</a>
                                </h3>
                                <span class="room-rates">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <a href="/room/#room-reviews">5.00 Based on 3 Ratings</a>
                                </span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus animi quod
                                    adipisci quia? Laudantium quibusdam, mollitia nisi quasi perspiciatis omnis...</p>
                                <div class="room-services">
                                    <i class="fa fa-coffee" data-toggle="popover" data-placement="top"
                                        data-trigger="hover" data-content="Breakfast Included"
                                        data-original-title="Breakfast"></i>
                                    <i class="fa fa-wifi" data-toggle="popover" data-placement="top"
                                        data-trigger="hover" data-content="Free WiFi" data-original-title="WiFi"></i>
                                    <i class="fa fa-television" data-toggle="popover" data-placement="top"
                                        data-trigger="hover" data-content="Plasma TV with cable channels"
                                        data-original-title="TV"></i>
                                    <span>Beds: 1 King</span>
                                    <span>Max Guests: 2</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="room-price">
                                <span class="price">€169 / night</span>
                                <a href="/checkout/" class="btn btn-sm">BOOK NOW</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="room-list-item">
                    <div class="row">
                        <div class="col-lg-4">
                            <figure class="gradient-overlay-hover link-icon">
                                <a href="/room/"><img src="{% static "/public/images/rooms/view/view.jpg" %}" class="img-fluid"
                                        alt="Image"></a>
                            </figure>
                        </div>
                        <div class="col-lg-6">
                            <div class="room-info">
                                <h3 class="room-title">
                                    <a href="/room/">ROOM WITH VIEW</a>
                                </h3>
                                <span class="room-rates">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <a href="/room/#room-reviews">5.00 Based on 3 Ratings</a>
                                </span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus animi quod
                                    adipisci quia? Laudantium quibusdam, mollitia nisi quasi perspiciatis omnis...</p>
                                <div class="room-services">
                                    <i class="fa fa-coffee" data-toggle="popover" data-placement="top"
                                        data-trigger="hover" data-content="Breakfast Included"
                                        data-original-title="Breakfast"></i>
                                    <i class="fa fa-wifi" data-toggle="popover" data-placement="top"
                                        data-trigger="hover" data-content="Free WiFi" data-original-title="WiFi"></i>
                                    <i class="fa fa-television" data-toggle="popover" data-placement="top"
                                        data-trigger="hover" data-content="Plasma TV with cable channels"
                                        data-original-title="TV"></i>
                                    <span>Beds: 1 King and 1 Sofabed</span>
                                    <span>Max Guests: 4</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="room-price">
                                <span class="price">€119 / night</span>
                                <a href="/checkout/" class="btn btn-sm">BOOK NOW</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="room-list-item">
                    <div class="row">
                        <div class="col-lg-4">
                            <figure class="gradient-overlay-hover link-icon">
                                <a href="/room/"><img src="{% static "/public/images/rooms/luxury/luxury.jpg" %}" class="img-fluid"
                                        alt="Image"></a>
                            </figure>
                        </div>
                        <div class="col-lg-6">
                            <div class="room-info">
                                <h3 class="room-title">
                                    <a href="/room/">LUXURY ROOM</a>
                                </h3>
                                <span class="room-rates">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <a href="/room/#room-reviews">5.00 Based on 3 Ratings</a>
                                </span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus animi quod
                                    adipisci quia? Laudantium quibusdam, mollitia nisi quasi perspiciatis omnis...</p>
                                <div class="room-services">
                                    <i class="fa fa-coffee" data-toggle="popover" data-placement="top"
                                        data-trigger="hover" data-content="Breakfast Included"
                                        data-original-title="Breakfast"></i>
                                    <i class="fa fa-wifi" data-toggle="popover" data-placement="top"
                                        data-trigger="hover" data-content="Free WiFi" data-original-title="WiFi"></i>
                                    <i class="fa fa-television" data-toggle="popover" data-placement="top"
                                        data-trigger="hover" data-content="Plasma TV with cable channels"
                                        data-original-title="TV"></i>
                                    <span>Beds: 2 King</span>
                                    <span>Max Guests: 4</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="room-price">
                                <span class="price">€349 / night</span>
                                <a href="/checkout/" class="btn btn-sm">BOOK NOW</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="room-list-item">
                    <div class="row">
                        <div class="col-lg-4">
                            <figure class="gradient-overlay-hover link-icon">
                                <a href="/room/"><img src="{% static "/public/images/rooms/small/small.jpg" %}" class="img-fluid"
                                        alt="Image"></a>
                            </figure>
                        </div>
                        <div class="col-lg-6">
                            <div class="room-info">
                                <h3 class="room-title">
                                    <a href="/room/">SMALL ROOM</a>
                                </h3>
                                <span class="room-rates">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <a href="/room/#room-reviews">5.00 Based on 3 Ratings</a>
                                </span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus animi quod
                                    adipisci quia? Laudantium quibusdam, mollitia nisi quasi perspiciatis omnis...</p>
                                <div class="room-services">
                                    <i class="fa fa-coffee" data-toggle="popover" data-placement="top"
                                        data-trigger="hover" data-content="Breakfast Included"
                                        data-original-title="Breakfast"></i>
                                    <i class="fa fa-television" data-toggle="popover" data-placement="top"
                                        data-trigger="hover" data-content="Plasma TV with cable channels"
                                        data-original-title="TV"></i>
                                    <span>Beds: 1 King</span>
                                    <span>Max Guests: 2</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="room-price">
                                <span class="price">€39 / night</span>
                                <a href="/checkout/" class="btn btn-sm">BOOK NOW</a>
                            </div>
                        </div>
                    </div>
                </div> -->

                <!-- <nav class="pagination">
                    <ul>
                        <li class="prev-pagination">
                            <a href="#">
                                &nbsp;<i class="fa fa-angle-left"></i>
                                Previous &nbsp;</a>
                        </li>
                        <li class="active">
                            <a href="#">1</a>
                        </li>
                        <li>
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#">3</a>
                        </li>
                        <li>...</li>
                        <li>
                            <a href="#">7</a>
                        </li>
                        <li>
                            <a href="#">8</a>
                        </li>
                        <li>
                            <a href="#">9</a>
                        </li>
                        <li class="next_pagination">
                            <a href="#">
                                &nbsp; Next
                                <i class="fa fa-angle-right"></i>
                                &nbsp;
                            </a>
                        </li>
                    </ul>
                </nav> -->
            </div>
        </main>

{% endblock %}