{% extends "adsapp/base.html" %}
{% load staticfiles %}
{% block contents %}

        <div class="page-title gradient-overlay op6">
            <div class="container">
                <div class="inner">
                    <h1>ROOMS</h1>
                    <ol class="breadcrumb">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>Rooms</li>
                    </ol>
                </div>
            </div>
        </div>

        <main class="rooms-list-view">
            <div class="container">

                {% if room_list %}
                {% for i in room_list %}

                <div class="room-list-item">
                    <div class="row">
                        <div class="col-lg-4">
                            <figure class="gradient-overlay-hover link-icon">
                                <a href="/room/"><img src="{{i.thumbnail}}" class="img-fluid"
                                        alt="Image"></a>
                            </figure>
                        </div>
                        <div class="col-lg-6">
                            <div class="room-info">
                                <h3 class="room-title">
                                        <a href="/room/{{ i.id }}/checkin={{ checkin }}&checkout={{ checkin }}"><h4>Room {{i.room}} : {{i.category}}</h4></a>
                                </h3>
                                <span class="room-rates">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <a href="/room/#room-reviews">5.00 Based on 3 Ratings</a>
                                </span>
                                <p>{{i.description}}</p>
                                <div class="room-services">
                                        {% for x in i.room_amenities_set.all %}
                                            <i class="{{x.amenities.icon}}" data-toggle="popover" data-placement="top"
                                            data-trigger="hover" data-content="{{x.amenities.description}}"
                                            data-original-title="{{x.amenities.types}}"></i>
                                        {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="room-price">
                                <span class="price">₱{{i.price}} / night</span>
                                <a href="/checkout/" class="btn btn-sm">BOOK NOW</a>
                            </div>
                        </div>
                    </div>
                </div>

                {% endfor %}

                {% else %}
                  <p>No Room Available</p>
                {% endif %}

            </div>
        </main>

{% endblock %}